html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.349);
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-size: 100px;
}

body {
    background-image: url(images/floral.jpg);
}

section {
    background-color: rgba(0, 0, 0, 0.349);
    padding: 25px;
    margin: 25px;
}

nav {
    background-color: rgba(135, 206, 250, 0.527);
    padding: 10px 0px;
}

nav a {
    padding: 0% 3%;
    text-decoration: none;
}

main {
    margin: 0% 5%;
}

img {
    padding: 5px;
    border: 4px double black;
}

/*Main Hook Section*/

#home {
    display: flex;
}

#about div {
    padding: 20px 45px;
}

/*Cake Display*/

#cakes img {
    max-height: 350px;
    max-width: 350px;
}

article#cakes {
    display: flex;
    flex-wrap:wrap;
}

#cakes figure {
    width: 27%;
    text-align: center;
}

#cakes figcaption {
    padding: 0% 10%;
    text-align: center;
    background-color: rgba(135, 206, 250, 0.527);
}

/*More Section*/

#more {
    padding: 20px 45px;
}

div#images {
    display: flex;
    justify-content: center;
}
